<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>云商社区后台系统</title>
    <meta name="keywords" content="云商后台管理系统">
    <meta name="description" content="云商后台管理系统登录页面">

    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link th:href="@{css/bootstrap.min14ed.css}" rel="stylesheet">
    <link th:href="@{css/font-awesome.min93e3.css}" rel="stylesheet">

    <link th:href="@{css/animate.min.css}" rel="stylesheet">
    <link th:href="@{css/style.min862f.css}" rel="stylesheet">



    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">云商社区</h1>

            </div>
            <h3>欢迎登录</h3>

            <form class="m-t" id="form-submit" role="form" action="/loginAdmin" method="POST">
                <div class="form-group">
                    <input type="email" id="username" name="username" class="form-control" placeholder="用户名" required="">
                </div>
                <div class="form-group">
                    <input type="password" id="pwd" name="pwd" class="form-control" placeholder="密码" required="">
                </div>
                <button type="button" id="login-button" class="btn btn-primary block full-width m-b" onclick="submitLogin()">登 录</button>


                <p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
                </p>

            </form>
        </div>
    </div>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
    <script type="text/javascript">
        function submitLogin(){
           var username= document.getElementById("username").value;
           var pwd=document.getElementById("pwd").value;
           alert("---->"+username+"  "+pwd);
           if(username==""||pwd==""){
               alert("用户名或密码不能空！");
           }else{
               document.getElementById("form-submit").submit();
           }
        }
    </script>
</body>
</html>
