<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunshang.shoppingmall.mapper.ProductMapper">

  <resultMap id="BaseResultMap" type="com.yunshang.shoppingmall.entity.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="rep_id" jdbcType="INTEGER" property="repId" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="product_unit" jdbcType="VARCHAR" property="productUnit" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
  </resultMap>

  <sql id="Base_Column_List">
    product_id, product_name, rep_id, product_desc, product_unit, supplier
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_table
    where product_id = #{productId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_table
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.yunshang.shoppingmall.entity.Product">
    insert into product_table (product_id, product_name, rep_id,
      product_desc, product_unit, supplier
      )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{repId,jdbcType=INTEGER},
      #{productDesc,jdbcType=VARCHAR}, #{productUnit,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.yunshang.shoppingmall.entity.Product">
    insert into product_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="repId != null">
        rep_id,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      <if test="productUnit != null">
        product_unit,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="repId != null">
        #{repId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null">
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yunshang.shoppingmall.entity.Product">
    update product_table
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="repId != null">
        rep_id = #{repId,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null">
        product_unit = #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.yunshang.shoppingmall.entity.Product">
    update product_table
    set product_name = #{productName,jdbcType=VARCHAR},
      rep_id = #{repId,jdbcType=INTEGER},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      product_unit = #{productUnit,jdbcType=VARCHAR},
      supplier = #{supplier,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <select id="selectProductByProductName" parameterType="com.yunshang.shoppingmall.entity.Product" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_table
    <where>
      <if test="productName!=''">
        product_name like '%${productName}%'
      </if>
    </where>
      order by product_id
  </select>

</mapper>